@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Lato', sans-serif;
}


/*-------------------------------------------*/
/* GLOBAL TAGS */
/*-------------------------------------------*/




/*-------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/
.container-header {
	background-color: rgb(238,238,238);
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.container-header-wrapper {
	display: flex;
	height: 75px;
	
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	
}

/*-------------------------------------------*/
/* IMAGE*/
/*-------------------------------------------*/

.logo {
	display: flex;
	align-items: center;
	width: 60vw;
	justify-content: flex-start;
	
	padding-left: 20px;
}

img {
	width: 100%;
	height: 100%;
	max-width: 300px;
}

/*-------------------------------------------*/
/* NAVIGATION */
/*-------------------------------------------*/
nav {
	
}
nav ul {
	display: flex;
	width: 35vw;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	font-size: 1.6em;
}

nav ul li a {
	color: black;
}

nav a:hover {

}

/*-------------------------------------------*/
/* MAIN BODY */
/*-------------------------------------------*/

main {
	background-color: rgb(238,238,238);
	margin-top: 7.545em;

}

.container {
	max-width: 1000px;
	margin: 0 auto;
	background-color: green;
}

.container-top h2 {
	font-size: 2.4rem;
	text-align: center;
}

.container-top form {
	text-align: center;
}

.container-top form input {
	font-size: 1.3rem;
	padding-left: 0.40em;
	margin-top: 1.25em;
	background-color: white;
	width: 270px;
	height: 29px;
	border: 0.25px solid gray;
	border-width: thin;
	border-radius: 2px;
}

.container-top form button {
	font-size: 1.6rem;
	font-weight: 800;
	background-color: rgb(241,197,13);
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	padding: 0.4em 1.1em;
}

/*-------------------------------------------*/
/* MAIN BODY FEATURES */
/*-------------------------------------------*/

.fa {
	color: rgb(255,140,0);
}

.container-middle {
	display: flex;
	flex-direction: column;
	background-color: orange;
	margin-top: 8em;
	align-items: center;
}

.feature-1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.feature-2 {
	display: flex;
}

.feature-3 {
	display: flex;
}















